doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Mario
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    #game-container

    script(src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js")
    script(src="javascripts/game.js")
