<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WebGL Cube Dodger</title>
    <style>
      body {
        margin: 0;
        overflow: hidden;
        background: black;
      }

      #ui {
        position: fixed;
        top: 15px;
        left: 15px;
        color: white;
        font-family: Arial, sans-serif;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div id="ui">Score: <span id="score">0</span></div>

    <!-- THREE.JS (Global) -->
    <script src="https://unpkg.com/three@0.149.0/build/three.min.js"></script>

    <!-- Game -->
    <script src="/javascripts/cubedodger.js"></script>
  </body>
</html>
