<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Snake</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div id="game-container"></div>
    <script src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script>
    <script src="/javascripts/snake.js"></script>
  </body>
</html>
